body {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: black;
    margin: 0;
}

.animable {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#logo {
    padding-top: 10px;

    line-height: 40px;
    font-size: 40px;
    text-align: center;
}

nav {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    color: black;
}

#timer {
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
}

#grid-wrapper {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    clear: both;
}

.grid {
	margin-left: auto;
	margin-right: auto;
    border-collapse: collapse;
}

.grid td {
    border: 2px solid #000;
    padding: 0;
}
    
.grid tr:nth-child(1) td {
    border-top-width: 4px;
}

.grid td:nth-child(3n) {
    border-right-width: 4px;
}

.grid td:nth-child(1) {
    border-left-width: 4px;
}

.grid tr:nth-child(3n) td {
    border-bottom-width: 4px;
}
 
.grid input {
    width: 56px;
    height: 56px;
    font-size: 35px;
    cursor: pointer;
    color: transparent;
    text-align: center;
    text-shadow: 0 0 0 black;
    font-weight: bold;
    outline: none;
    border: none;
}

.grid input:focus {
    background-color: #71d3ff;
}

.grid input:disabled {
    background-color: #e8e8e8;
    color: #535353;
}

#message-wrapper {
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.message {
    line-height: 30px;
    text-align: center;
    font-size: 20px;
}

@media only 
screen and (max-width: 630px),
screen and (max-height: 700px) {
    .grid input {
        width: 24px;
        height: 24px;
        font-size: 20px;
    }
    
    #logo {
        line-height: 35px;
        font-size: 35px;
    }
    
    #message-wrapper {
        height: 60px;
    }
}

.mdl-menu__item {
    font-weight: bold;
    text-align: center;
}